.mysidenav{
  background-color: rgb(34, 34, 37)!important;
line-height: 30px!important;
  width:5px !important ;
   height: 20px !important;
  margin-left: -7px !important;
   font-size: 20px !important;
   font-weight: bold !important;
    border-radius: 100% !important; 

   
}
.hover:hover{
  background-color: rgba(151, 128, 245, 0.452) !important;
  border-radius: 25px !important;
  padding-top: 10px!important;
}
.black{
  background-color:rgb(14, 14, 16, 0.8)!important;
  opacity: 80 !important;
  line-height: 38px!important;
 
  
} 
.circle{
  border-radius: 90%!important;
  
}